<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670982011260-5ncbn1rjoqk56qdmvrchivleh8k62i2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670982011260-5ncbn1rjoqk56qdmvrchivleh8k62i2f</string>
	<key>API_KEY</key>
	<string>AIzaSyA3QP4RoE11k6vz39CrM5QySo-yNOY4eL4</string>
	<key>GCM_SENDER_ID</key>
	<string>670982011260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sunbulahome.user</string>
	<key>PROJECT_ID</key>
	<string>sunbulhome</string>
	<key>STORAGE_BUCKET</key>
	<string>sunbulhome.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670982011260:ios:17a805ca57363d6ed98cf9</string>
	<key>DATABASE_URL</key>
	<string>https://sunbulhome.firebaseio.com</string>
</dict>
</plist>