<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259179567140-6e28bjhucocg1cc7n0fln5pulh9d5k00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259179567140-6e28bjhucocg1cc7n0fln5pulh9d5k00</string>
	<key>API_KEY</key>
	<string>AIzaSyCewTx5hrHNZLPj98S2p_gjhz4mV6KciF8</string>
	<key>GCM_SENDER_ID</key>
	<string>259179567140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saneno.user</string>
	<key>PROJECT_ID</key>
	<string>smartcommerce-1555856817595</string>
	<key>STORAGE_BUCKET</key>
	<string>smartcommerce-1555856817595.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259179567140:ios:0fc096406aa894775620b1</string>
	<key>DATABASE_URL</key>
	<string>https://smartcommerce-1555856817595.firebaseio.com</string>
</dict>
</plist>